
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>mostrarSesion</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/styles/styles.css" rel="stylesheet" />
</head>
<body>
    <div> 

        @if (Session["usuario"] != null)
        {
            <h4>Bienvenido @Session["usuario"]</h4>
        }

        <a href="/Home/cerrarSesion">Cerrar sesion</a>
    </div>
</body>
</html>
